.app-container {
  display: flex;
  height: 100vh; 
}

.sidebar {
  width: fit-content;;
}

.map-container {
  flex: 1; 
}

#map {
  height: 100vh;
  width: 220vh;
}

.mapdiv {
  width: auto;
}

body {

overflow: hidden;
}