body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw; 
}

.navbar {
  width: 100%; 
  flex-shrink: 0; 
}

.content {
  flex-grow: 1; 
  overflow-y: auto; 
  display: flex;
}

.map-container {
  flex: 1; 
}

#map {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.slider {
  width: 260px;
  margin-top: -42.5%;
  margin-left: auto; 
  margin-right: 32px;
  background: white;
}

.slider * {
  z-index: 2;
}


.mapdiv {
  width: auto;
}

.horizontal-slider {
  color: aqua;
}

.track {
  color: black;
  visibility: visible;
}
