.custom-dropdown option.main-option {
  background-color: #ffd700;
  color: black;
  font-size: 13px;
  font-weight: bold;
}
.custom-dropdown option.chart1-option {
  background-color: #adff2f;
  color: black;
  font-size: 13px;
  font-weight: bold;
}

.custom-dropdown option.chart2-option {
  background-color: #00bfff;
  color: black;
  font-size: 13px;
  font-weight: bold;
}
#additional-chart-canvas {
  height: 500px;
}
.custom-dropdown option.chart3-option {
  background-color: #ff6347;
  color: black;
  font-size: 13px;
  font-weight: bold;
}
.leaflet-popup-content-wrapper {
  background: rgb(241, 252, 252);
  overflow: hidden;
  overflow-y: auto;
  height: 550px;
}
.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  text-align: center;
  width: 24px;
  height: 24px;
  margin-right: 15px;
  font: 16px / 24px Tahoma, Verdana, sans-serif;
  color: #757575;
  text-decoration: none;
  background: transparent;
}
.chart-container {
  background-color: whitesmoke;
  margin-top: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.custom-btn {
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 10px;
  text-align: center;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  color: gray;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-btn:hover {
  background-color: #28a745;
  color: #ffffff;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
}
